<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content=" width=device-width ,initial-scale=0.1">
        <link  rel="stylesheet" href="/static/css/My_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&family=Zen+Dots&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">

    </head>
    <body>
        <h1 class="sub_title">Direction</h1>
        <section class="header01">
            <nav>
                <a href="{%url "home" %}"><img  src="/static/img/Photo_of_website/reels.png"></a>
                <div class="linkname" id="linkname">
                    <ul>
                    <i class="fa fa-sort-desc" onclick="hideMenu()"></i>
                    <li><a href="">SCREENPLAY</a></li>
                    <li><a href="https://www.britannica.com/topic/cinematography">CINEMOTOGRAPH</a></li>
                      <li><a href="">ACTING</a></li>
                      <li><a href="">MUSIC</a></li>
                      <li><a href="">EDITING</a></li>
                      <li><a href="">ABOUT US</a></li>
                    <i class="fa fa-times-circle-o" onclick="showMenu()" ></i>
                    </ul>
                </div>
            </nav>
 <script>           
    var linkname =document.getElementById("linkname")
    function showmenu(){
        linkname.style.right="0";
    
    }
    function hidemenu(){
        linkename.style.left="-200px"
    }
</script>


<p>If you’re preparing to direct your very first film, definitely, this “the first-time movie director tips” article will help you. you’re probably feeling about a dozen different feelings all at once. Everything from anxiety and fear to excitement and impatience are common for first-time directors. Whether you have lots of experience in other roles on film sets, you’re a seasoned theatre director, or you’re brand new to the world of directing altogether, you’re bound to learn a lot on your first project as director.

    While you’re probably filled with creative ideas about the film and eager to get started, there are a few things you should know before you begin the process. These first time film directing tips will help you to make the most out of the experience and create a film you are truly proud to call your own.
    
    Good Scheduling Can Transform the Quality of Your Film    While you may be a creative soul with no talent for organisation, it’s time to switch on the ‘type A’ side of your brain. Before you dive into filming, you and the crew will need to create a detailed schedule. The more detailed the better. A good schedule can bring the best out of your actors, your crew, and even yourself. It can also save you precious time to try experimental shots, take proper breaks, and generally maintain good spirits on set.
    
    While you may want to film chronologically, this rarely makes sense. Begin by splitting up the film by location. In most cases, it will make the most sense to film all of the scenes from one location in one go. Then, split up scenes based on actors needed and time of day. Decide which scenes you will shoot on which day.
    
    With your director of photography, figure out the order you will shoot each scene. Go shot by shot and decide the best order. Think about the equipment and set up that will be needed for each shot and make a schedule that makes sense and keep the filming process rolling smoothly. If you have complicated shots or difficult acting moments, try to get them out of the way at the beginning of the day — if you run out of time and rush through these difficult scenes at the end of the day, you may not get the result you hoped for.
    
</p>

    </body>
</html>